



<div
  _ngcontent-vvr-c84=""
  class="row top-margin"
  style="margin-left: 12px; margin-right: 12px; padding-top: 33px"
>
  <div _ngcontent-vvr-c84="" class="col-12 col-sm-6 col-md-3 ng-star-inserted">
    <div _ngcontent-vvr-c84="">
        

        <div class="card" style="width: 200px; height: 310px;">
          
            <img  src="https://firebasestorage.googleapis.com/v0/b/testapp-bb252.appspot.com/o/DefaultTACsHeadlineImg%2FPhysics-01.jpeg?alt=media&amp;token=93bc37a9-edd1-4bc8-a5ad-d6c87e1c46c3" class="rounded float-right img-fluid" style="height: 47%;"  alt="..." ><span class="badge bg-info text-dark">{{'CLS 1' | translate}}</span>
            <div class="card-body">
              <h5 class="card-title">{{'TITLE' | translate}}</h5>
              <p class="card-text">{{'DESC' | translate}}</p>
              <a href="#" class="btn col-10 btn-primary">{{'BTN' | translate}}</a>
              
              
            </div>
          </div>
     
    </div>
    
  </div>

  <div _ngcontent-vvr-c84="" class="col-12 col-sm-6 col-md-3 ng-star-inserted">
    <div _ngcontent-vvr-c84="">

      
      <div class="card" style="width: 200px; height: 310px;">
        <img  src="https://firebasestorage.googleapis.com/v0/b/testapp-bb252.appspot.com/o/DefaultTACsHeadlineImg%2FPhysics-01.jpeg?alt=media&amp;token=93bc37a9-edd1-4bc8-a5ad-d6c87e1c46c3" class="rounded float-right img-fluid" style="height: 50%;"  alt="..."><span class="badge bg-info text-dark">{{'CLS 2' | translate}}</span>
        <div class="card-body">
          <h5 class="card-title">{{'TITLE' | translate}}</h5>
          <p class="card-text">{{'DESC' | translate}}</p>
          <a href="#" class="btn btn-primary">{{'BTN' | translate}}</a>
        </div>
      </div>

        </div>
    </div>


    <div _ngcontent-vvr-c84="" class="col-12 col-sm-6 col-md-3 ng-star-inserted">
        <div _ngcontent-vvr-c84="">

            <div class="card" style="width: 200px; height: 310px;">
            <img  src="https://firebasestorage.googleapis.com/v0/b/testapp-bb252.appspot.com/o/DefaultTACsHeadlineImg%2FPhysics-01.jpeg?alt=media&amp;token=93bc37a9-edd1-4bc8-a5ad-d6c87e1c46c3" class="rounded float-right img-fluid" style="height: 50%;"  alt="..."><span class="badge bg-info text-dark">{{'CLS 3' | translate}}</span>
            <div class="card-body">
              <h5 class="card-title">{{'TITLE' | translate}} </h5>
              <p class="card-text">{{'DESC' | translate}} </p>
              <a href="#" class="btn btn-primary">{{'BTN' | translate}}</a>
            </div>
          </div>


            </div>
        </div>


        <div _ngcontent-vvr-c84="" class="col-12 col-sm-6 col-md-3 ng-star-inserted">
            <div _ngcontent-vvr-c84="">


              <div class="card" style="width: 200px; height: 310px;">
                <img  src="https://firebasestorage.googleapis.com/v0/b/testapp-bb252.appspot.com/o/DefaultTACsHeadlineImg%2FPhysics-01.jpeg?alt=media&amp;token=93bc37a9-edd1-4bc8-a5ad-d6c87e1c46c3" class="rounded float-right img-fluid" style="height: 50%;"  alt="..."><span class="badge bg-info text-dark">{{'CLS 4' | translate}}</span>
                <div class="card-body">
                  <h5 class="card-title">{{'TITLE' | translate}}</h5>
                  <p class="card-text">{{'DESC' | translate}}</p>
                  <a href="#" class="btn btn-primary">{{'BTN' | translate}}</a>
                </div>
              </div>


                </div>
            </div>


           
</div>
